<%= form_with(model: screening, local: true) do |form| %>
  <% if screening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(screening.errors.count, "error") %> prohibited this screening from being saved:</h2>

      <ul>
      <% screening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-margin">
    <%= form.label :title, class: "uk-form-label" %>
    <%= form.text_field :title, id: :screening_title, class: "uk-input", placeholder: "上映会の名称を決めましょう", required: true, pattern: ".{1,30}", title: "30文字以内で入力してください" %>
    <span class="uk-text-muted">30文字以内</span>
  </div>

  <div class="uk-margin">
    <%= form.label :body, class: "uk-form-label" %>
    <%= form.text_area :body, id: :screening_body %>
  </div>

  <div class="uk-margin">
    <%= form.label :showing_start, class: "uk-form-label" %>
    <%= form.datetime_select :showing_start, id: :screening_showing_start, start_year: Date.current.year, minute_step: 5 %>
  </div>

  <% if controller.action_name == "new" %>
    <div class="uk-margin">
      <label>
        <input type="checkbox" class="uk-checkbox" name="is_tweet">ツイートする
      </label>
    </div>
  <% end %>

  <div class="actions">
    <%= form.button type: "submit", class: "uk-button uk-button-primary" %>
  </div>
<% end %>

<script>
  var simplemde = new SimpleMDE({
    element: document.getElementById("screening_body"),
    placeholder: "Markdownで上映会の内容を書きましょう！",
    spellChecker: false,
    status: [
      {
        className: "chars",
        defaultValue: function(el) {
          el.innerHTML = "0文字";
        },
        onUpdate: function(el) {
          let charlen = simplemde.value().length;
          if(charlen > 1000) {
            el.classList.add("uk-text-danger");
          }
          if(charlen <= 1000 && el.classList.contains("uk-text-danger")) {
            el.classList.remove("uk-text-danger");
          }
          el.innerHTML = charlen + "文字";
        },
      },
    ],
    toolbar: false,
  });
</script>
