<%= form_with(model: screening, local: true) do |form| %>
  <% if screening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(screening.errors.count, "error") %> prohibited this screening from being saved:</h2>

      <ul>
      <% screening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-margin">
    <%= form.label :title, class: "uk-form-label" %>
    <%= form.text_field :title, id: :screening_title, class: "uk-input", placeholder: "上映会の名称を決めましょう", required: true, pattern: ".{1,30}", title: "30文字以内で入力してください" %>
    <span class="uk-text-muted">30文字以内</span>
  </div>

  <div class="uk-margin">
    <%= form.label :content, class: "uk-form-label" %>
    <%= form.rich_text_area :content, id: :screening_content %>
  </div>

  <div class="uk-margin">
    <%= form.label :showing_start, class: "uk-form-label" %>
    <%= form.date_field :showing_start_date, id: :screening_showing_start_date, min: Date.today, value: screening.showing_start&.to_date %>
    <%= form.time_field :showing_start_time, id: :screening_showing_start_time, value: screening.showing_start&.strftime("%H:%M") %>
  </div>

  <% if controller.action_name == "new" %>
    <div class="uk-margin">
      <label>
        <input type="checkbox" class="uk-checkbox" name="is_tweet">ツイートする
      </label>
    </div>
  <% end %>

  <div class="actions">
    <%= form.button type: "submit", class: "uk-button uk-button-primary" %>
  </div>
<% end %>
