<% assign_meta_tags title: "上映情報一覧",
                    description: "アニメ上映会支援プラットフォームSchwulに登録されている上映会の一覧．" %>

<div uk-alert>
  上映会が追加されたら任意のSlackのチャンネルに通知するIFTTT Appletを作成したので，是非ご利用ください！
  <%= link_to "通知用Applet", "https://ifttt.com/applets/X3QiBFUS-notify-to-slack-when-add-new-screening-in-schwul", target: "_blank" %>
</div>

<div class="uk-align-right">
  <div class="uk-button-group">
    <%= link_to screenings_path(format: "rss"), class: "uk-button uk-button-default" do %>
      <span uk-icon="icon: rss"></span>
      RSS
    <% end %>
    <%= link_to screenings_path(format: "atom"), class: "uk-button uk-button-default" do %>
      <span uk-icon="icon: rss"></span>
      Atom
    <% end %>
  </div>
</div>

<div>
  <h1 class="uk-inline">上映情報</h1>
  <%= link_to "上映会を追加する", new_screening_path, class: "uk-button uk-button-primary" %>
</div>

<%= month_calendar events: @screenings, attribute: :showing_start do |date, screenings| %>
  <%= date.strftime("%d") %>

  <% screenings.each do |screening| %>
    <p><%= link_to screening.title, screening %></p>
  <% end %>
<% end %>

<h2>今後の上映会</h2>
<div class="uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
  <% @screenings.select{|screening| screening.showing_start > Time.current}.each do |screening| %>
    <div class="screening-card">
      <div class="uk-card uk-card-default">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <%= image_tag screening.manager.profile.avatar, alt: "#{screening.manager.profile.nickname}'s avatar", class: "uk-border-circle" %>
            </div>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom uk-text-truncate uk-inline"><%= screening.title %></h3>
              <span class="uk-badge"><%= screening.members.length %></span>
              <p class="uk-text-meta uk-margin-remove-top"><%= screening.showing_start.strftime("%Y/%m/%d %H:%M") %> から</p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <div class="truncate-3">
            <p><%= screening.body %></p>
          </div>
        </div>
        <div class="uk-card-footer">
          <%= link_to "もっと読む", screening %>
        </div>
      </div>
    </div>
  <% end %>
</div>
