<% assign_meta_tags title: @screening.title,
                    description: "#{@screening.manager.profile.nickname}が企画した上映会「#{@screening.title}」の詳細．",
                    type: "article" %>

<h1><%= @screening.title %></h1>

<p>
  <strong><%= t "activerecord.attributes.screening.manager" %>:</strong>
  <%= image_tag @screening.manager.profile.avatar %>
  <%= link_to @screening.manager.profile.nickname, user_profile_show_path(name: @screening.manager.profile.username) %>
</p>

<div id="screening-body"><%= @screening.body %></div>

<p>
  <strong><%= t "activerecord.attributes.screening.showing_start" %>:</strong>
  <%= @screening.showing_start %>
</p>

<%= form_tag join_screening_path(@screening) do %>
  <fieldset>
    <legend>参加する？</legend>
    メッセージ: <input type="text" name="message" placeholder="参加にあたって一言">
    <%= submit_tag "参加する" %>
  </fieldset>
<% end %>

<h3>参加者</h3>
<% @screening.join_screenings.each do |member| %>
  <article class="uk-comment">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
      <div class="uk-width-auto">
        <%= image_tag member.user.profile.avatar, class: "uk-comment-avatar" %>
      </div>
      <div class="uk-width-expand">
        <h4 class="uk-comment-title uk-margin-remove">
          <%= link_to member.user.profile.nickname, user_profile_show_path(member.user.profile.username) %>
        </h4>
        <p class="uk-comment-meta uk-margin-remove-top"><%= member.message %></p>
      </div>
    </header>
  </article>
<% end %>

<%= link_to 'Edit', edit_screening_path(@screening) %> |
<%= link_to 'Back', screenings_path %>

<script>
  var body = document.getElementById("screening-body");
  body.innerHTML = marked(body.innerHTML);
</script>
