<% assign_meta_tags title: @screening.title,
                    description: "#{@screening.manager.profile.nickname}が企画した上映会「#{@screening.title}」の詳細．",
                    type: "article" %>

<article class="uk-article">
  <h1 class="uk-article"><%= @screening.title %></h1>
  <p class="uk-article-meta">
    <%= t "activerecord.attributes.screening.showing_start" %>:
    <%= @screening.showing_start %>
  </p>
  <p class="uk-article-meta">
    <%= t "activerecord.attributes.screening.manager" %>:
    <%= link_to user_profile_show_path(name: @screening.manager.profile.username) do %>
      <%= image_tag @screening.manager.profile.avatar, alt: "#{@screening.manager.profile.nickname}'s img" %>
      <%= @screening.manager.profile.nickname %>
    <% end %>
  </p>

  <div id="screening-body"><%= @screening.body %></div>

  <% if @screening.manager == current_user %>
    <div class="uk-grid-small uk-child-width-auto" uk-grid>
      <div>
        <%= link_to '編集', edit_screening_path(@screening), class: "uk-button uk-button-default" %>
      </div>
      <div>
        <%= link_to "削除", @screening, method: :delete, class: "uk-button uk-button-danger", data: { confirm: "本当に削除しますか？" } %>
      </div>
    </div>
  <% end %>
</article>


<%= form_tag join_screening_path(@screening) do %>
  <fieldset>
    <legend>参加する？</legend>
    <% unless @screening.members.include? current_user %>
      <input type="text" class="uk-input" name="message" placeholder="参加にあたって一言">
      <div class="uk-margin">
        <label>
          <input type="checkbox" class="uk-checkbox" name="is_tweet">ツイートする
        </label>
      </div>
      <div class="uk-margin">
        <%= button_tag "参加する", type: "submit", class: "uk-button uk-button-primary" %>
      </div>
    <% else %>
      <p>参加表明済み</p>
      <%= link_to "参加をキャンセル", join_screening_path(@screening), method: :delete, class: "uk-button uk-button-danger" %>
    <% end %>
  </fieldset>
<% end unless @screening.manager == current_user %>

<h3>
  参加者
  <span class="uk-badge"><%= @screening.join_screenings.length %></span>
</h3>
<% @screening.join_screenings.each do |member| %>
  <article class="uk-comment">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
      <div class="uk-width-auto">
        <%= image_tag member.user.profile.avatar, alt: "#{member.user.profile.nickname}'s img", class: "uk-comment-avatar" %>
      </div>
      <div class="uk-width-expand">
        <h4 class="uk-comment-title uk-margin-remove">
          <%= link_to member.user.profile.nickname, user_profile_show_path(member.user.profile.username) %>
        </h4>
        <p class="uk-comment-meta uk-margin-remove-top"><%= member.message %></p>
      </div>
    </header>
  </article>
<% end %>

<script>
  var renderer = new marked.Renderer();
  renderer.heading = function (text, level) {
    level++;
    return "<h" + level + ">" + text + "</h" + level + ">";
  }
  var body = document.getElementById("screening-body");
  body.innerHTML = marked(body.innerHTML, { renderer });
</script>
