<p id="notice"><%= notice %></p>

<p>
  <strong><%= t "activerecord.attributes.screening.manager" %>:</strong>
  <%= @screening.manager %>
</p>

<p>
  <strong><%= t "activerecord.attributes.screening.title" %>:</strong>
  <%= @screening.title %>
</p>

<p>
  <strong><%= t "activerecord.attributes.screening.body" %>:</strong>
  <%= @screening.body %>
</p>

<p>
  <strong><%= t "activerecord.attributes.screening.showing_start" %>:</strong>
  <%= @screening.showing_start %>
</p>

<%= link_to 'Edit', edit_screening_path(@screening) %> |
<%= link_to 'Back', screenings_path %>
