<%= form_for @profile, url: user_profile_update_path do |f| %>
  <% if @profile.errors.any? %>
    <p><%= @profile.errors.count %>個のエラー</p>
    <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="uk-margin">
    <%= f.label :username, class: "uk-form-label" %>
    <%= f.text_field :username, class: "uk-input", required: true %>
  </div>

  <div class="uk-margin">
    <%= f.label :nickname, class: "uk-form-label" %>
    <%= f.text_field :nickname, class: "uk-input", placeholder: @profile.user.email_localname %>
  </div>

  <div class="uk-margin">
    <%= f.label :avatar, class: "uk-form-label" %>
    <div uk-form-custom="target: true">
      <%= f.file_field :avatar, accept: "image/jpg,image/jpeg,image/png" %>
      <input type="text" class="uk-input uk-form-width-medium" placeholder="ファイルを選択" disabled>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :bio, class: "uk-form-label" %>
    <%= f.text_area :bio %>
  </div>

  <%= f.submit class: "uk-button uk-button-primary" %>
<% end %>

<script>
  var simplemde = new SimpleMDE({
    element: document.getElementById("user_profile_bio"),
    placeholder: "自己紹介しましょう",
    spellChecker: false,
    status: false,
    toolbar: false,
  });
</script>
