<% assign_meta_tags title: "#{@profile.nickname}(@#{@profile.username})",
                    description: @profile.bio %>

<h3>
  <%= @profile.nickname %>
  <small> - <%= @profile.username %></small>
</h3>

<%= image_tag @profile.avatar %>

<div id="profile-bio"><%= @profile.bio %></div>

<% if @profile == current_user.profile %>
  <%= link_to "編集する", user_profile_edit_path %>
<% end %>

<p>このユーザが参加する上映会はコチラ↓</p>
<%= month_calendar events: @profile.user.involved_screenings, attribute: :showing_start do |date, screenings| %>
  <%= date.strftime("%d") %>

  <% screenings.each do |screening| %>
    <%= link_to screening.title, screening %>
  <% end %>
<% end %>

<script>
  var bio = document.getElementById("profile-bio");
  bio.innerHTML = marked(bio.innerHTML);
</script>
