<% assign_meta_tags title: "#{@profile.nickname}(@#{@profile.username})",
                    description: @profile.bio %>

<h3>
  <%= @profile.nickname %>
  <small> - <%= @profile.username %></small>
</h3>

<%= image_tag @profile.avatar.url, alt: "#{@profile.nickname}'s avatar", id: "profile-avatar" %>

<div id="profile-bio"><%= @profile.bio %></div>

<% if user_signed_in? && @profile == current_user.profile %>
  <%= link_to "編集する", user_profile_edit_path, class: "uk-button uk-button-default" %>
<% end %>

<p>このユーザが参加する上映会はコチラ↓</p>
<%= month_calendar events: @profile.user.involved_screenings, attribute: :showing_start do |date, screenings| %>
  <%= date.strftime("%d") %>

  <% screenings.each do |screening| %>
    <%= link_to screening.title, screening %>
  <% end %>
<% end %>
