<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= show_meta_tags %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <header>
        <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-left">
            <div class="uk-offcanvas-content">
              <a href="#sidenav" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle></a>
              <div id="sidenav" uk-offcanvas>
                <div class="uk-offcanvas-bar">
                  <button type="button" class="uk-offcanvas-close" uk-close></button>
                  <ul class="uk-list">
                    <li><%= link_to "ダッシュボード", dashboard_path %></li>
                    <li><%= link_to "上映情報", screenings_path %></li>
                  </ul>
                </div>
              </div>
            </div>
            <%= link_to "Screening!", root_path, class: "uk-navbar-item uk-logo" %>
            <ul class="uk-navbar-nav uk-visible@s">
              <li class="<%= 'uk-active' if current_page? dashboard_path %>">
                <%= link_to "ダッシュボード", dashboard_path %>
              </li>
              <li class="<%= 'uk-active' if controller_name == 'screenings' %>">
                <%= link_to "上映情報", screenings_path %>
              </li>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <% if user_signed_in? %>
              <ul class="uk-navbar-nav">
                <li>
                  <a href="#"><%= current_user.profile.nickname %></a>
                  <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li><%= link_to "プロフィール", user_profile_path %></li>
                      <li><%= link_to "ログアウト", :destroy_user_session, method: :delete %></li>
                    </ul>
                  </div>
                </li>
              </ul>
            <% else %>
              <div class="ul-navbar-item">
                <div><%= link_to "ログイン", :user_twitter_omniauth_authorize, class: "uk-button uk-button-default" %></div>
              </div>
            <% end %>
          </div>
        </nav>
      </header>

      <script>
        document.addEventListener("turbolinks:load", function() {
          <% if notice %>
            UIkit.notification("<%= notice %>", { pos: "bottom-left", status: "success" });
          <% end %>
          <% if alert %>
            UIkit.notification("<%= alert %>", { pos: "bottom-left", status: "danger" });
          <% end %>
        });
      </script>

      <%= content_tag :div, yield, class: "uk-container" unless @not_container %>
      <%= yield if @not_container %>
    </div>

    <footer>
      <div class="uk-section uk-section-muted">
        <div class="uk-container">
          <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div>
              開発者
              <ul class="uk-list uk-list-bullet">
                <li><%= link_to "Isaac", "https://twitter.com/_leo_isaac", target: "_blank" %></li>
              </ul>
            </div>
            <div>
              <ul class="uk-list">
                <ul><%= link_to "i544c/screening", "https://github.com/i544c/screening", target: "_blank" %>で開発中</ul>
                <ul>要望，バグ報告などは<%= link_to "コチラ", "https://github.com/i544c/screening/issues", target: "_blank" %>にどうぞ</ul>
           </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
